body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #f8f5ed;
    /* overflow: hidden; */
}
#hero-header{
    width: 100vw;
    height: 15vh;
}
#hero-logo img{
    height: 13vh;
}
#hero-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-header{
    margin: 0 20px 0 20px;
}
#more-nav a{
    justify-content: space-around;
    margin-right: 30px;
    color: #28E1DB;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
#main-root{
    display: flex;
}
.root1{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center; 
}
.root1 h1{
    width: 30vw;
    color: #28E1DB;
}
.root1 p{
    width: 30vw;
    font-weight: bold;
}
.root1 button{
    background-color: #f7e5b2;
    border: none;
    border-radius: 20px;
}
.root1 img{
    width: 40vw;
    height: auto;
}
#carouselExample{
    width: 50vw;
}
.carousel-item  img {
    border-radius: 10px;
}
.carousel-control-prev  span{
    color: black;
    background-color: black;
    border-radius: 50%;
}
.carousel-control-next span{
    color: black;
    background-color: black;
    border-radius: 50%;
}
#root2{
    display: flex;
    align-items:center;
}
#root3{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#root3 h1{
    width: 20vw;
    color: #28E1DB;
}
#root3 h2{
    width: 30vw;
}
#root4{
    display: flex;
    flex-direction: column;
    width: 28vw;
}
#root4 button{
    width: 12vw;
    height: 6vh;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
    background-color: #f7e5b2;
    margin-top: 2vh;
}
.root4-child2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.root4-child1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#root4 button:hover{
    border: 2px solid #28E1DB;
}
#root5{
    display: flex;
    margin-top: 4vh;
}
.root6{
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.root6 img{
    width: 30vw;
    border-radius: 1vh;
}
#root7{
    width: 30vw;
    align-items: center;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
}
#root7 img{
    width: 6vw;
    border-radius: 10px ;
}
#root7 img:hover{
    border: 2px solid #28E1DB;
}
#root8{
    width: 40vw;
}
#root9{
    width: 35vw;
}
.root10{
    display: flex;
    margin-bottom: 2vh;
}
.root10 img{
    width: 5vw;
    transition: 0.2s;
}
.root10 p{
    width: 18vw;
    font-size: 2vh;
}
.root10 h2{
    width: 18vw;
    font-size: 2.5vh;
}
.root11 img{
    width: 5vw;
    transition: 0.2s;
}
.root11 p{
    width: 18vw;
    font-size: 2vh;
}
.root11 h2{
    width: 18vw;
    font-size: 2.5vh;
}
.root10 img:hover{
    border: 2px solid #28E1DB;
}
.root11 img:hover{
    border: 2px solid #28E1DB;
}
#main_footer{
    width: 100vw;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#item1 {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#item1 img{
    width: 20vw;
}
#item2 p{
    font-size: 5vh;
    color: white;
}
#item2 {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5vw;
}
.slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #f7e5b2; 
    color: black;
  }
  .slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
  }
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #ff9966 !important;
  }