body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #f8f5ed;
    /* overflow: hidden; */
}
#hero-header{
    width: 100vw;
    height: 15vh;
}
#hero-logo img{
    height: 13vh;
}
#hero-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-header{
    margin: 0 20px 0 20px;
}
#more-nav a{
    justify-content: space-around;
    margin-right: 30px;
    color: #28E1DB;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
#main-root{
    display: flex;
}
.root1{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center; 
}
.root1 h1{
    width: 30vw;
    color: #28E1DB;
}
.root1 p{
    width: 30vw;
    font-weight: bold;
}
.root1 button{
    background-color: #f7e5b2;
    border: none;
    border-radius: 20px;
}
.root1 img{
    width: 40vw;
    height: auto;
}
#carouselExample{
    width: 50vw;
}
.carousel-item  img {
    border-radius: 10px;
}
.carousel-control-prev  span{
    color: black;
    background-color: black;
    border-radius: 50%;
}
.carousel-control-next span{
    color: black;
    background-color: black;
    border-radius: 50%;
}
#root2{
    display: flex;
    align-items:center;
}
#root3{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#root3 h1{
    width: 20vw;
    color: #28E1DB;
}
#root3 h2{
    width: 30vw;
}
#root4{
    display: flex;
    flex-direction: column;
    width: 28vw;
}
#root4 button{
    width: 12vw;
    height: 6vh;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
    background-color: #f7e5b2;
    margin-top: 2vh;
}
.root4-child2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.root4-child1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#root4 button:hover{
    border: 2px solid #28E1DB;
}
