#main-root{
    display: flex;
}
.root1{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center; 
}
.root1 h1{
    width: 25vw;
    color: #28E1DB;
}
.root1 p{
    width: 25vw;
    font-weight: bold;
}
.root1 a{
    width: 5.5vw;
    padding: 10px 30px 10px 30px ;
    background-color: #f7e5b2;
    border: none;
    border-radius: 20px;
}
.root1 img{
    width: 50vw;
    height: auto;
}
#carouselExample{
    width: 50vw;
}
.carousel-item  img {
    border-radius: 10px;
}
.carousel-control-prev  span{
    color: black;
    background-color: black;
    border-radius: 50%;
}
.carousel-control-next span{
    color: black;
    background-color: black;
    border-radius: 50%;
}
#root2{
    display: flex;
}
#root3{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#root3 h1{
    width: 20vw;
    color: #28E1DB;
}
#root3 h2{
    width: 30vw;
}
#root4{
    display: flex;
    flex-direction: column;
    width: 28vw;
}
#root4 button{
    width: 12vw;
    height: 6vh;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
    background-color: #f7e5b2;
    margin-top: 2vh;
}
.root4-child2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.root4-child1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#root4 button:hover{
    border: 2px solid #28E1DB;
}
#root5{
    display: flex;
}
.root6{
    width:50vw;
    border: 1px solid black;
}
.root6{
    width:50vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.root6 img{
    width: 30vw;
    border-radius: 1vh;
}
#root7{
    width: 30vw;
    align-items: center;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
}
#root7 img{
    width: 6vw;
    border-radius: 10px ;
}
#root7 img:hover{
    border: 2px solid #28E1DB;
}